<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>CrypticX</title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Major+Mono+Display" rel="stylesheet">
  </head>
  <body>
    <header>
       <img class="crypt" src="/images/cripticx.png" width="350px" height="100px">
    </header>
    <section>
      <div id="login">
      <%= form_for :login_detail, url: {controller:"login_details", action: "create"},html: {class: "login-box", id: "login_form"} do |form| %>
        <h1>Login</h1>
          <div class="textbox">
            <i class="fas fa-user"></i>
            <%= form.text_field :email, placeholder: "Email", class:"register-field"   %>
          </div>

          <div class="textbox">
            <i class="fas fa-lock"></i>
            <%= form.password_field :password, placeholder: "Password", class:"register-field", id:"password-field"   %>
          </div>
          <br>
          <%= form.submit "Sign in", id:"btn"  %>

          <p>Don't have an account? <%= link_to "<span class='highlight'>Register</span>".html_safe, "/register" %> </p>
      <% end %>
      <% unless flash.empty? %>
      <div id="notice1">
      <% flash.each do |name, msg| %>
       <%= content_tag :div, msg, class: [:alert, alert_for(name)]%>
      <% end %>
      <% end %>
      </div>
    </section>
  </body>
</html>
