<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>CrypticX</title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Major+Mono+Display" rel="stylesheet">
  </head>
  <body>
    <header>
       <img class="crypt" src="/images/cripticx.png" width="350px" height="100px">
      <div class="menu" id="myTopnav" >
        <%= link_to "<p class='menu-item'>Home</p>".html_safe, "/home" %>
        <p class="menu-item" style="color: #171717">Play</p>
        <%= link_to "<p class='menu-item'>Leaderboard</p>".html_safe, "/leaderboard" %>
        <%= link_to "<p class='menu-item'>Logout</p>".html_safe, "/logout" %>
</div>
</header>

    <section id="level">
      <div class="level-box">
        <%= form_for :game, url: {controller:"games", action: "submit_answer"},html: {class: "login-box", id: "reg_form"} do |form| %>
          <h1>Level <%= @question.level  %> </h1>
          <div class="level-content">
            <div class="question">
              <p><%= @question.question  %></p>
              <img src="images/lvl0.png">
            </div>

          <div class="textbox">
            <%= form.text_field :answer, placeholder: "Your Answer goes here...", class:"register-field"   %>
          </div>

          <%= form.submit "Submit", id:"btn"  %>

      <% end %>

      <% unless flash.empty? %>
      <div id="notice">

        <% flash.each do |name, msg| %>
         <%= content_tag :div, msg, class: [:alert, alert_for(name)]%>
        <% end %>
      <% end %>
      <p><%#= flash_class(:error) %></p>
      </div
      </div>
      </div>
    </section>
  </body>
</html>
