<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>CrypticX</title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Major+Mono+Display" rel="stylesheet">
  </head>
  <body>
    <header>
       <img class="crypt" src="images/cripticx.png" width="350px" height="100px">
      <div class="menu">
        <%= link_to "<p class='menu-item'>Home</p>".html_safe, "/home" %>
        <%= link_to "<p class='menu-item'>Play</p>".html_safe, "/play" %>
        <%= link_to "<p class='menu-item'>Leaderboard</p>".html_safe, "/leaderboard" %>
        <%= link_to "<p class='menu-item'>Logout</p>".html_safe, "/logout" %>
      </div>
    </header>

    <section id="lbd">
      <div class="lb">
        <h1 class="hd">Leaderboard</h1>
        <hr class="linebreak">
        <table style="width: 85%" class="tab">
      		<tr>
      			<th>Position</th>
        		<th>Username</th>
        		<th>Level</th>
        		<th>Time</th>
      		</tr>
      		<tr>
      			<td>1</td>
        		<td>Crypticx</td>
        		<td style="font-size: 20px;">∞</td>
        		<td>0000-00-00 00:00:00</td>
          </tr>
          <% @users.each.with_index(2) do |user, pos| %>
            <tr>
              <td><%= pos %></td>
              <td><%= user.username %></td>
              <td><%= user.level %></td>
              <td><%= user.try(:last_answered).try(:strftime, ("%Y-%m-%d %H:%M:%S"))  %></td>
            </tr>
          <% end %>
    		</table>
      </div>
    </section>

  </body>
</html>
