<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>CrypticX</title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Major+Mono+Display" rel="stylesheet">
  </head>
  <body>
    <header>
      <img class="crypt" src="images/cripticx.png" width="350px" height="100px">

    </header>
    <section id="register">


    <%= form_for :user_detail, url: {controller:"user_details", action: "create"},html: {class: "register-box", id: "reg_form"} do |form| %>
      <h1 class="head">Register</h1>
    <div class="textbox">
      <i class="fas fa-user"></i>
      <%= form.text_field :name, placeholder: "Name", class:"register-field"   %>
    </div>
    <div class="textbox">
      <i class="fas fa-signature"></i>
      <%= form.text_field :username, placeholder: "Your UserName", class:"register-field"   %>
    </div>
    <div class="textbox">
      <i class="fas fa-envelope"></i>
      <%= form.text_field :email, placeholder: "Your Email", class:"register-field"   %>
    </div>
    <div class="textbox">
      <i class="fas fa-phone"></i>
      <%= form.telephone_field :contactno, placeholder: "Mobile Number", class:"register-field"   %>
    </div>
    <div class="textbox">
      <i class="fas fa-lock"></i>
      <%= form.password_field :password, placeholder: "New Password", class:"register-field", id:"password-field"   %>
    </div>
    <div class="textbox">
      <i class="fas fa-lock"></i>
      <%= form.password_field :password_confirmation, placeholder: "Confirm Password", class:"register-field"   %>
    </div>
    <span class="password-instructions-wrapper">The password must be at least 8 characters long, contain a number, a symbol, an uppercase and a lowercase letter.</span>
    <span class="password-instructions-wrapper"></span>
    <%= form.submit "Create an account", id:"btn"  %>
    <%#<p>Already have an account? <%= link_to "<span class="highlight">Login</span>".html_safe, "/login" %>

    <% end %>


    </section>
  </body>
</html>
