<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>CrypticX</title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Major+Mono+Display" rel="stylesheet">
  </head>
  <body>
    <header>
      <img class="crypt" src="images/cripticx.png" width="350px" height="100px">

    </header>
    <section id="register">
      <h1>Register</h1>

    <%= form_for :user_detail, url: {controller:"user_details", action: "create"},html: {class: "register-box", id: "reg_form"} do |form| %>
       
        <table>
          <tr class="textbox">
            <td><i class="fas fa-user"></i></td>
            <td><%= form.text_field :name, placeholder: "Name", class:"register-field"  %></td>
          </tr>
          <tr class="textbox">
            <td><i class="fas fa-signature"></i></td>
            <td><%= form.text_field :username, placeholder: "Your UserName", class:"register-field"   %></td>
          </tr>
          <tr class="textbox">
            <td><i class="fas fa-envelope"></i></td>
            <td><%= form.text_field :email, placeholder: "Your Email", class:"register-field"   %></td>
          </tr>
          <tr class="textbox">
            <td> <i class="fa fa-phone"></i></td>
            <td><%= form.telephone_field :contactno, placeholder: "Mobile Number", class:"register-field"   %></td>
          </tr>
          <tr class="textbox">
            <td><i class="fas fa-lock"></i></td>
            <td><%= form.password_field :password, placeholder: "New Password", class:"register-field", id:"password-field"   %></td>
          </tr>
          <tr class="textbox">
            <td><i class="fas fa-lock"></i></td>
            <td><%= form.password_field :password_confirmation, placeholder: "Confirm Password", class:"register-field"   %></td>
          </tr>
          <span class="password-instructions-wrapper">The password must be at leastlmao 8 characters long, contain a number, a symbol, an uppercase and a lowercase letter.</span>
          <span class="password-instructions-wrapper"></span>
          <tr>
            <td><%= form.submit "Create an account", id:"register-button"  %></td>
          </tr>
        </table>


    <% end %>
    <p>Already have an account? <span class="highlight"><a href="login.html"><strong>Login</strong></a></span></p>

    </section>
  </body>
</html>
